#cabecera {
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url('img/Fondo.jpg');
    padding: 10px 50px;
    width: 100%;
    z-index: 1000;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo img:first-child {
    width: 40px;
    height: 40px;
}

#logo img:last-child {
    width: 130px;
    height: auto;
}

#navegacion, #acciones {
    display: flex;
    align-items: center;
    gap: 20px;
}

#navegacion {
    font-weight: bold;
    margin-left: auto;
}

#navegacion div {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
}

#navegacion div:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
}

#navegacion a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#navegacion a:hover {
    color: yellow;
}

#acciones {
    gap: 25px;
}

#buscador {
    position: relative;
    margin-left: 15px;
}

#searchInput {
    padding: 10px 45px 10px 40px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    width: 200px;
}

#lupa {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#inicioSesion img, #favoritos img, #carrito img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#acciones div:hover {
    color: inherit;
    border-bottom: none;
}

#inicioSesion img, #carrito img, #favoritos img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
